# Euro Area Inflation Data (YoY)

This document provides an overview of the Year-over-Year (YoY) inflation data for the Euro Area, sourced from the Quandl API.

## Data Source

The data is retrieved using [Quandl](https://www.quandl.com/), specifically from the following URL:
[Inflation YoY Euro Area](https://data.nasdaq.com/data/RATEINF/INFLATION_EUR-inflation-yoy-euro-area)

## Dataset Information

- **Dataset ID:** RATEINF/INFLATION_EUR
- **Title:** Inflation YoY - Euro Area
- **Description:** This dataset represents the inflation rate in the Euro Area, calculated on a year-over-year basis.
- **Params:** Data is collapsed by month

In [20]:
import quandl
import pandas as pd
import seaborn as sns
from statsmodels.tsa.seasonal import seasonal_decompose
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [5]:
# get data using the quandl api 
inflation_data = quandl.get("RATEINF/INFLATION_EUR", authtoken="jQGEvAWnbhDtZsfYcfsH", collapse="monthly")

In [6]:
inflation_data.head()

            Value
Date
1991-01-31   3.90
1991-02-28   4.13
1991-03-31   3.88
1991-04-30   3.85
1991-05-31   4.10

In [8]:
#fix multi header in the df
inflation_data = inflation_data.reset_index()
inflation_data.head()

        Date  Value
0 1991-01-31   3.90
1 1991-02-28   4.13
2 1991-03-31   3.88
3 1991-04-30   3.85
4 1991-05-31   4.10

In [12]:
# Convert the 'Date' column to datetime format
inflation_data['Date'] = pd.to_datetime(inflation_data['Date'])
# Sort the dataframe by date in ascending order
inflation_data.sort_values('Date', inplace=True)
inflation_data.reset_index(drop=True, inplace=True)
# Check for missing values
missing_values = inflation_data.isnull().sum()
# Display tany missing values
missing_values

Date     0
Value    0
dtype: int64

In [13]:
#Descriptive stats
desc_stats = inflation_data['Value'].describe()
desc_stats

count    392.000000
mean       2.208163
std        1.693129
min       -0.650000
25%        1.297500
50%        2.030000
75%        2.610000
max       10.620000
Name: Value, dtype: float64

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.tsa.seasonal import seasonal_decompose
import statsmodels.api as sm

# Set plot style
sns.set_style("whitegrid")

# 2. Visualizations
# Time Series Plot
plt.figure(figsize=(14, 7))
plt.plot(inflation_data['Date'], inflation_data['Value'], label='Inflation Rate')
plt.title('Inflation Rate Over Time')
plt.xlabel('Date')
plt.ylabel('Inflation Rate (%)')
plt.legend()
plt.show()

# Histogram
plt.figure(figsize=(14, 7))
sns.histplot(inflation_data['Value'], kde=True, bins=30)
plt.title('Distribution of Inflation Rates')
plt.xlabel('Inflation Rate (%)')
plt.ylabel('Frequency')
plt.show()

# Boxplot
plt.figure(figsize=(14, 7))
sns.boxplot(x=inflation_data['Value'])
plt.title('Boxplot of Inflation Rates')
plt.xlabel('Inflation Rate (%)')
plt.show()

# 3. Seasonal Decomposition
# Set the frequency to 12 as the data is monthly
freq = 12
decomposition = seasonal_decompose(inflation_data['Value'], model='additive', period=freq)

# Plot the decomposed time series components
fig, ax = plt.subplots(4, 1, figsize=(14, 10))
ax[0].plot(decomposition.observed)
ax[0].set_title('Original Series')
ax[1].plot(decomposition.trend)
ax[1].set_title('Trend Component')
ax[2].plot(decomposition.seasonal)
ax[2].set_title('Seasonal Component')
ax[3].plot(decomposition.resid)
ax[3].set_title('Residual Component')
plt.tight_layout()
plt.show()

# 4. Autocorrelation Analysis
fig, ax = plt.subplots(2, 1, figsize=(14, 7))
sm.graphics.tsa.plot_acf(inflation_data['Value'], lags=40, ax=ax[0])
sm.graphics.tsa.plot_pacf(inflation_data['Value'], lags=40, ax=ax[1])
plt.tight_layout()
plt.show()