# Euro Area Inflation Data (YoY)

This document provides an overview of the Year-over-Year (YoY) inflation data for the Euro Area, sourced from the Quandl API.

## Data Source

The data is retrieved using [Quandl](https://www.quandl.com/), specifically from the following URL:
[Inflation YoY Euro Area](https://data.nasdaq.com/data/RATEINF/INFLATION_EUR-inflation-yoy-euro-area)

## Dataset Information

- **Dataset ID:** RATEINF/INFLATION_EUR
- **Title:** Inflation YoY - Euro Area
- **Description:** This dataset represents the inflation rate in the Euro Area, calculated on a year-over-year basis.
- **Params:** Data is collapsed by month

In [1]:
import quandl

In [2]:
eu_inflation = quandl.get("RATEINF/INFLATION_EUR", authtoken="jQGEvAWnbhDtZsfYcfsH", collapse="monthly")

In [3]:
eu_inflation.head()

            Value
Date
1991-01-31   3.90
1991-02-28   4.13
1991-03-31   3.88
1991-04-30   3.85
1991-05-31   4.10